*.pyc
*.sublime-*
*.so
*.mod
*.o
*.egg-info
*.swp
*.hdf5
*.bot
*.swn
*.pvd
*.vts
*.xmf
*.pdf
*.xdmf
.ipynb_checkpoints
.AppleDouble
__MACOSX
.DS_Store
*.dSYM


MCMC_Sampling/results_*/

Preliminary_Sampling2018/depth-based_likl/results_*/
Preliminary_Sampling2018/depth-based_likl/results-*/
Preliminary_Sampling2018/depth-based_likl/model*/
Preliminary_Sampling2018/depth-based_likl/run*/
Preliminary_Sampling2018/depth-based_likl/saved_results/
Preliminary_Sampling2018/depth-based_likl/1dsurf*
Preliminary_Sampling2018/depth-based_likl/misc/

Preliminary_Sampling2018/time-based_likl/results_*/
Preliminary_Sampling2018/time-based_likl/model*
Preliminary_Sampling2018/time-based_likl/1dsurf*
Preliminary_Sampling2018/time-based_likl/misc

src/
