*.pyc
*.sublime-*
*.so
*.mod
*.o
*.egg-info
*.swp
*.hdf5
*.bot
*.swn
*.pvd
*.vts
*.xmf
*.pdf
*.csv
*.xdmf
.ipynb_checkpoints
.AppleDouble
__MACOSX
.DS_Store
*.dSYM

Testing/results_multinomial*
Testing/run*
Testing/runModel_testing.py
Testing/mcmc_multinomial_*
Testing/mcmc_6.py
Testing/results_pseudo*
Testing/likelihood_surface
Testing/saved_results
Testing/misc

