*.pyc
*.sublime-*
*.so
*.mod
*.o
*.egg-info
*.swp
*.hdf5
*.bot
*.swn
*.pvd
*.vts
*.xmf
*.pdf
*.csv
*.xdmf
.ipynb_checkpoints
.AppleDouble
__MACOSX
.DS_Store
*.dSYM

Testing/depth-based_likl/results_*
Testing/depth-based_likl/model*
Testing/depth-based_likl/1dsurf*
Testing/depth-based_likl/misc
Testing/depth-based_likl/saved_results

Testing/time-based_likl/results_*
Testing/time-based_likl/model*
Testing/time-based_likl/1dsurf*
Testing/time-based_likl/misc
Testing/time-based_likl/saved_results
